# vendor
/app/bower_components
/node_modules

# build
/.tmp
/dist
/cordova/.tmp
/cordova/dist
/cordova/besedko*.zip

# eclipse
/.project
/.settings
/.buildpath
/.tern-project

# data
/app/data/packs
/app/data/user-generated
