<main class="ui-main">

    <header class="ui-head">
        Header
    </header>

    <div class="ui-body">
        
        <div href class="ui-body-side">
            <a href class="ui-body-nav ui-body-nav-prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="ui-body-main">
            <div ng-repeat="card in content | startFrom:currentPage*pageSize | limitTo:pageSize" class="ui-body-child">
                <figure class="ui-card" ng-class="card.color ? card.color : 'white'">
                    <img class="ui-card-image" ng-src="{{c.image}}" src="data:image/gif;base64,R0lGODdhLAEsAcIAAP///wAAAN/f339/fx8fH5+fn7+/v19fXywAAAAALAEsAQAD/gi63P4wykmrvTjrzbv/YCiOZGmeaKqubOu+cCzPdG3feK7vfO//wKBwSCwaj8ikcslsOp/QqHRKrVqv2Kx2y+16v+CweEwum8/otHrNbrvf8Lh8Tq/b7/i8fs/v+/+AgYKDhIWGh4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOkpaanqKmqq6ytrq+wsbKztLW2t7i5uru8vb6/wMHCw8TFxsfIycrLzM3Oz9DR0tPU1dbX2Nna29zd3t/g4eLj5OXm5+jp6uvs7e7v8PHy8/T19vf4+fr7/P3+/wADChxIsKDBgwgTKlzIsKHDhxAjSpxIsaLFixgzatzI5LGjx48gQ4ocSbKkyZMoU6pcybKlS5QCBhAIEIDAAAErC9DcudNASp08g/o0KSCo0QA4Sw44GnSAyZlMdxIwGTUo1ao7n2KtafLA1gNEtyYtCZRpgZ9mV8aEanPsy7dw48qdS7eu3bt48+rdy7ev37+AAwseTLiw4cOIEytezLix48eQI0ueTLmy5cuYM2vezLmz58+gQ4seTbq06dOoU6tezbq169ewY8ueTbu27du4c+vezbu379/AgwsfTry48ePIkytfzry58+fQo0ufTr269evYs2vfzr279+/gw4sfT75vAgA7">
                    <figcaption class="ui-card-caption">
                        {{ card.label }}
                    </figcaption>
                </figure>
            </div>
        </div>

        <div href class="ui-body-side">
            <a href class="ui-body-nav ui-body-nav-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>

    <footer class="ui-foot">

        <section class="ui-foot-list">
            
        </section>
        
        <section class="ui-foot-actions">
            <button ng-if="buttons.volume" ng-click="mute()" type="button" class="ui-btn">
                <span ng-class="{'glyphicon-volume-up' : !player.muted, 'glyphicon-volume-off' : player.muted}" class="glyphicon"></span>
            </button>
            <button ng-if="buttons.keyboard" type="button" class="ui-btn">
                <span class="glyphicon glyphicon-calendar"></span>
            </button>
            <button ng-if="buttons.fullscreen" type="button" class="ui-btn" ng-click="toggleFS()">
                <span ng-class="{'glyphicon-resize-small' : fullScreen, 'glyphicon-resize-full' : !fullScreen}" class="glyphicon"></span>
            </button>
        </section>

    </footer>

</main>