<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-hg navbar-btn" ng-repeat="i in [1, 2, 3, 4, 5]">
				<span class="glyphicon glyph-mid glyphicon-picture"></span>
			</button>
		</div>
		<div class="btn-group pull-right">
			<button ng-init="play=true" ng-click="play=!play" type="button" class="btn btn-default btn-hg navbar-btn">
				<span ng-class="{'glyphicon-play' : play, 'glyphicon-stop' : !play}" class="glyphicon glyph-mid"></span>
			</button>
			<button type="button" class="btn btn-default btn-hg navbar-btn">
				<span class="glyphicon glyph-mid glyphicon-trash"></span>
			</button>
			<button ng-init="fav=true" ng-click="fav=!fav" type="button" class="btn btn-default btn-hg navbar-btn">
				<span ng-class="{'glyphicon-heart-empty' : fav, 'glyphicon-heart' : !fav}" class="glyphicon glyph-mid"></span>
			</button>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-3 col-md-3" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8]">
				<a class="thumbnail"> <img alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4="></a>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-group pull-right">
			<button ng-init="volume=true" ng-click="volume=!volume" type="button" class="btn btn-default btn-hg navbar-btn">
				<span ng-class="{'glyphicon-volume-up' : volume, 'glyphicon-volume-off' : !volume}" class="glyphicon glyph-mid"></span>
			</button>
			<button ng-if="canToggleFS" type="button" class="btn btn-default btn-hg navbar-btn" ng-click="toggleFS()">
				<span class="glyphicon glyph-mid glyphicon-fullscreen"></span>
			</button>
		</div>
		
		<div class="btn-group-wrap">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-hg navbar-btn" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]">
					<span class="glyphicon glyph-mid glyphicon-picture"></span>
				</button>
			</div>
		</div>
	</div>
</div>
