html,
body,
povej {
    height: 100%;
}

povej { display: block; }


.ui-main {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-justify-content: flex-start;
    -moz-box-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

.ui-head { 
    -webkit-box-flex-grow: 1;
    -moz-box-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}
.ui-body { 
    -webkit-box-flex-grow: 2;
    -moz-box-flex-grow: 2;
    -webkit-flex-grow: 2;
    -ms-flex-grow: 2;
    flex-grow: 2;
}
.ui-foot { 
    -webkit-box-flex-grow: 1;
    -moz-box-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1; 
}

.ui-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.ui-body-side {
    width: 5%;
    position: relative;
}

.ui-body-nav {
    position: absolute;
    display: block;
    font-size: 1.8vw;
    color: #fff;
    background: #34495e;
    height: 3.2vw;
    width: 3.2vw;
    line-height: 3.4vw;
    top: 50%;
    margin-top: -1.6vw;
    left: 50%;
    margin-left: -1.6vw;
    text-align: center;
    border-radius: 200px;
}

.ui-body-nav-prev { text-indent: -1px; }

.ui-body-main {
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex-wrap: wrap;
    -moz-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
}

.ui-body-main > .ui-body-child {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.ui-body-main > .ui-body-child .ui-card {
    margin: 5px;
}

.ui-body-child {
    width: 20%;
}

.ui-head {
    background: #34495e;
}

.ui-foot {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: #ecf0f1;
    border-top: 1px solid #bdc3c7;
}

.ui-foot-list {
    
}

.ui-foot-actions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ui-foot-actions > .ui-btn {
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: stretch;
    font-size: 20px;
    padding: 0 20px;
    border-left: 1px solid #bdc3c7;
}

.ui-btn {
    background: none;
    border: 0;
    display: inline-block;
}

.ui-card {
    display: block;
    position: relative;
    background: #fff;
    overflow: hidden;
    border: 1px solid #ecf0f1;
    border-radius: 3px;
}

.ui-card .ui-card-image {
    max-width: 100%;
}

.ui-card .ui-card-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0 0 3px 3px;
    background: #ecf0f1;
}