<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="webApp"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" ng-app="webApp"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" ng-app="webApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="webApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title ng-bind="title + ' | besedko'">besedko</title>
    <meta name="description" content="besedko">

    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/uredi.css">
    <link rel="stylesheet" href="styles/directives/povej.css">
    <!-- endbuild -->
  </head>
  <body>

    <!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<povej ng-if="fullScreen"></povej>

    <div class="container" ng-if="!fullScreen">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li ng-class="{active: activetab=='/'}"><a ng-href="/">@</a></li>
				<li ng-class="{active: activetab=='/povej'}"><a ng-href="/povej"><span class="glyphicon glyphicon-comment"></span> besedko</a></li>
				<li ng-class="{active: activetab=='/uredi'}"><a ng-href="/uredi"><span class="glyphicon glyphicon-wrench"></span> urejevalnik</a></li>
				<li ng-class="{active: activetab=='/mobile'}"><a ng-href="/mobile"><span class="glyphicon glyphicon-phone"></span>  mobilna aplikacija</a></li>
				<li ng-class="{active: activetab=='/login'}" ng-show="!credentials"><a ng-href="/login" class="btn btn-default">prijavi se</a></li>
				<li ng-show="credentials"><a ng-click="logout()" class="btn btn-danger">odjavi se</a></li>
			</ul>
			<h3 class="text-muted">&nbsp;</h3>
		</div>
	    
	    <div class="main-view" ng-view></div>
	
		<div class="footer">
		  <p><span class="glyphicon glyphicon-heart"></span> Nina</p>
		</div>
	</div>

    <!-- build:js scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.min.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-media-player/dist/angular-media-player.min.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.web.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/povej.js"></script>
	<script src="scripts/controllers/uredi.js"></script>
	<script src="scripts/controllers/mobile.js"></script>
	<script src="scripts/controllers/login.js"></script>
	<script src="scripts/directives/povej.js"></script>
	<script src="scripts/services/md5.js"></script>
	<script src="scripts/services/content.js"></script>
	<script src="scripts/services/authentication.js"></script>
	<script src="scripts/filters/startfrom.js"></script>
	<!-- endbuild -->
</body>
</html>
