

<div class="container">
	<div id="slovar-navbar" class="topcoat-navigation-bar ng-scope">

		<div class="topcoat-navigation-bar__item left half ">
			<div class="slovar-navbar_item_top">
				<!-- ngRepeat: item in itemsList track by $index -->
			</div>
		</div>
		<div class="topcoat-navigation-bar__item  right half">
			<div class="slovar-navbar_item_top">
				<a class="topcoat-icon-button--quiet" ng-click="playList(itemsList)">
					<i class="topcoat-icon icon-predvajaj icon-large "></i>

				</a> <a class="topcoat-icon-button--quiet" ng-click="deliteList()">
					<i class="topcoat-icon icon-brisi icon-large "></i>
				</a> <a class="topcoat-icon-button--quiet"
					ng-click="addToFavorites(itemsList)"> <i
					class="topcoat-icon icon-plus icon-large "></i>

				</a>
			</div>
		</div>
	</div>
	<div class="topcoat-navigation-bar slovar-navbar_bottom  ng-scope">
		<div class="slovar-navbar_waper_bottom">
			<div
				class=" topcoat-navigation-bar__item slovar-navbar_item_bottom left quarter">
				<a ng-hide="hideBackBtn" class="topcoat-icon-button--quiet"
					ng-click="doTheBack()"> <i
					class=" topcoat-icon icon-nazaj icon-large "></i>
				</a>
			</div>

			<div
				class="topcoat-navigation-bar__item center slovar-navbar_item_bottom half">
				<h1 class="topcoat-navigation-bar__title ng-binding">SLOVAR</h1>
			</div>
			<div
				class=" topcoat-navigation-bar__item  slovar-navbar_item_bottom right quarter">
				<a ng-hide="hideBackBtn" class="topcoat-icon-button--quiet"
					ng-click="goToLocation('slovar/stran', 'none')"> <i
					class=" topcoat-icon icon-domov icon-large "></i>
				</a>
			</div>
		</div>
	</div>


	<!-- <div class="">
  <header class="bar-title">
  
    <div   class="" >
    <img ng-src="{{item.slika}}" ng-repeat="item in itemsList" class="item-selection" >
    </div>
    <ul class="segmented-controller">
      
      <li ng-click = "doTheBack()">
        <i class="  icon-chevron-left icon-large " style="color:white" ></i> 
       
      </li>
      <li ng-click = "playList(itemsList)">
        <i class="icon-play icon-large " style="color:white" ></i>
        
      </li>
      <li ng-click = "deliteList()">
        <i class="icon-remove icon-large " style="color:white" ></i>
        
      </li>
      <li ng-click = "addToFavorites(itemsList)">
        <i class="icon-plus icon-large " style="color:white" ></i>
       
     </li>
      <li>
        <!-- <i class=" icon-home icon-large " style="color:white" ></i>
        <a href="#/" class="">Domov</a>
      </li>
      
    </ul>
  
  </header> -->
	<!-- bottom toolbar
 <div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner toolbar-btn-group btn-group">-->
	<nav ng-show="tabBarShow" class="bar-tab ng-scope">
		<ul class="tab-inner">
			<li class="tab-item topcoat-icon-button--quiet "
				ng-click="goToLocation('priljubljene', 'modal')"><i
				class=" topcoat-icon icon-priljubljene icon-large "></i> <a class="">
					<div class="tab-label">Priljubljene</div>

			</a></li>
			<li class="tab-item topcoat-icon-button--quiet"
				ng-click="goToLocation('tipkovnica', 'modal')"><i
				class="topcoat-icon icon-tipkovnica icon-large "></i> <a>

					<div class="tab-label">Tipkovnica</div>

			</a></li>
			<li class="tab-item topcoat-icon-button--quiet"
				ng-click="goToLocation('osnovne', 'modal')"><i
				class="topcoat-icon icon-osnovne icon-large "></i> <a class="">
					<div class="tab-label">Osnovne</div>
			</a></li>
			<li ng-show="doSound" class="tab-item topcoat-icon-button--quiet"
				ng-click="toggleSound()"><i
				class="topcoat-icon icon-vkljuci_zvok icon-large "></i> <a class="">
					<div class="tab-label">&nbsp;&nbsp;&nbsp;Zvok&nbsp;&nbsp;&nbsp;</div>
			</a></li>

			<li ng-hide="doSound" class="tab-item topcoat-icon-button--quiet"
				ng-click="toggleSound()" style="display: none;"><i
				class="topcoat-icon icon-izkljuci_zvok icon-large "></i> <a class="">
					<div class="tab-label">Ni zvoka</div>
			</a></li>
		</ul>
	</nav>
	<!-- </div>
</div> -->
	<!-- <div class=" centralize pad"> -->
	<!-- <div class="scroll"> -->
	<div class="wrap ng-scope">
		<!--Body content-->
		<!-- <div class="row-fluid">
           <img ng-src="{{mainImageUrl}}" >
           
           </div> -->
		<!-- ngRepeat: phone in phones track by $index -->
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/qh1un6y6.png" src="/Images/qh1un6y6.png">
				<div ng-class="phone.barva" class="titleBox ng-binding vijolicna">POGOVOR
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/65g78uot.png" src="/Images/65g78uot.png">
				<div ng-class="phone.barva" class="titleBox ng-binding vijolicna">POČUTJE
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/w0v74mkt.png" src="/Images/w0v74mkt.png">
				<div ng-class="phone.barva" class="titleBox ng-binding rumena">OSEBE
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/x4in10xx.png" src="/Images/x4in10xx.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">ŽIVALI
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/9t8nl7nf.png" src="/Images/9t8nl7nf.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">OBLAČILA
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/t34uy2un.png" src="/Images/t34uy2un.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">OBUTEV
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/41f9kwf2.png" src="/Images/41f9kwf2.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">DOM
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/dwd0oh24.png" src="/Images/dwd0oh24.png">
				<div ng-class="phone.barva" class="titleBox ng-binding zelena">AKTIVNOSTI
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/a8yjtsg4.png" src="/Images/a8yjtsg4.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">V
					MESTU</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/lkwc7ynk.png" src="/Images/lkwc7ynk.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">HRANA
					/ PIJAČA</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/y37hb3he.png" src="/Images/y37hb3he.png">
				<div ng-class="phone.barva" class="titleBox ng-binding oranzna">VREME
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-children"><img
				ng-src="/Images/bhbe6w52.png" src="/Images/bhbe6w52.png">
				<div ng-class="phone.barva" class="titleBox ng-binding modra">KDAJ
				</div></li>
		</ul>
		<ul class="box  ng-scope" ng-repeat="phone in phones track by $index">
			<li ng-click="iconClick(phone)"
				ng-class=" (phone.hasChildren) ? 'boxInner-background-children' : 'boxInner-background-no-child'"
				class="boxInner  boxInner-background-no-child"><img
				ng-src="/Images/o98vt2dh.png" src="/Images/o98vt2dh.png">
				<div ng-class="phone.barva" class="titleBox ng-binding">LASTNA
					KNJIŽNICA</div></li>
		</ul>

		<!-- </div> -->
		<!-- <div class="">
          <p>{{favoritesList | json}}</p>
      </div> -->
	</div>
	<!-- </div>  -->


	<!--Modals
<div modal="modalPriljubljene" close="modalClose('modalPriljubljene')" options="opts">
        <div id="myModal" class="modal">
        <header class="bar-title">
          <h1 class="title">Priljubljene</h1>
          <a class="button" ng-click="modalClose('modalPriljubljene')">
            Zapri
          </a>
        </header>
       
            
        <div class="content content-padded">
          <ul id="favorites-list">
            <li ng-repeat="favorit in favoritesList" class="row-fluid">
              <img ng-src="{{item.slika}}" ng-repeat="item in favorit" class="item-selection" >
              <button class="btn" ng-click="playList(favorit)"><i class="icon-play"></i></button>
              <button class="btn" ng-click="removeFavorit(favorit)"><i class="icon-remove"></i></button>

            </li>
        </ul>
        </div>
        
 </div>
 </div>

<div modal="modalTipkovnica" close="modalClose('modalTipkovnica')" options="opts">       
         <header class="bar-title">
          <h1 class="title">Tipkovnica</h1>
          <a class="button" ng-click="modalClose('modalTipkovnica')">
            Zapri
          </a>
        </header>
        <div class="content content-padded">
          <textarea autofocus class="boxsizingBorder"></textarea>
        </div>
        
 </div>

 <div modal="modalOsnovne" close="modalClose('modalOsnovne')" options="opts">
    <div id="myModal" class="modal">
      <header class="bar-title">
        <h1 class="title">Modal</h1>
        <a class="button" ng-click="modalClose('modalOsnovne')">
          Zapri
        </a>
      </header>
      
      <div class="content content-padded">
        <p>The contents of my modal.</p>
      </div>
    </div>
        
 </div>
-->
</div>