<div class="jumbotron">
  <h1>-- Login --</h1>
  <p class="lead">login text</p>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="input-group input-group-lg">
			<span class="input-group-addon">@</span>
			<input type="email" class="form-control" ng-model="data.email" placeholder="your.email@address.here" required="required">
		</div>
	</div>
	<div class="col-lg-6">
		<div class="input-group input-group-lg">
			<input ng-model="data.password" class="form-control" placeholder="password.here" type="password">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div>
	</div>
</div>

<br>
