<div class="jumbotron">
	<div class="ng-isolate-scope">
		<div>
			<ul>
				<li>
					<div role="button" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon-picture"></span>
						<span class="ng-scope">Prenesi sliko</span>
						<input accept="image/*" multiple="multiple" style="visibility: hidden; position: absolute;" type="file">
					</div>
				</li>
				<li>
					<div role="button" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon-music"></span>
						<span class="ng-scope">Prenesi zvok</span>
						<input accept="audio/*" multiple="multiple" style="visibility: hidden; position: absolute;" type="file">
					</div>
				</li>
				<ul>
					<div class="clearfix"></div>
				</ul>
			</ul>
		</div>
	</div>
</div>

<br>
