<script id="tree_renderer.html" type="text/ng-template">
<div class="tree-node tree-node-content" ng-class="{'node-selected' : contentSelected === item}" ui-tree-handle>
	<a class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)">
		<span class="glyphicon" ng-class="{'glyphicon-music' : !item.children.length && !item.content.length, 'glyphicon-star' : item.content.length, 'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed}"></span>
	</a>
	<a class="pull-right btn btn-danger btn-xs node-control" data-nodrag ng-click="removeBranch(this)" ng-if="contentSelected === item">
		<span class="glyphicon glyphicon-remove"></span>
	</a>
	<a class="pull-right btn btn-info btn-xs node-control" data-nodrag ng-click="addBranch(this)" ng-if="contentSelected === item">
		<span class="glyphicon glyphicon-plus-sign"></span>
	</a>
	<a class="tree-label" data-nodrag ng-click="contentHandler(item)">{{item.label}}</a>
</div>
<ol ui-tree-nodes="options" ng-model="item.children" ng-class="{hidden: collapsed}">
	<li ng-repeat="item in item.children" ui-tree-node ng-include="'tree_renderer.html'"></li>
</ol>
</script>
<table id="uredi">
	<tbody>
		<tr>
			<td>
				<div class="structure">
					<div class="angular-ui-tree-handle root-node" ng-class="{'node-selected' : contentSelected === null}">
						<a class="pull-right btn btn-info btn-xs node-control" ng-click="addRootBranch()" ng-if="contentSelected === null">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</a>
						<a class="tree-label" ng-click="contentSelectRoot()">besedko</a>
					</div>
					<div id="content-structure" class="tree-node tree-node-content" ui-tree="contentOptions">
						<ol ui-tree-nodes ng-model="content">
							<li ng-repeat="item in content" ui-tree-node ng-include="'tree_renderer.html'" collapsed="true"></li>
						</ol>
					</div>
				</div>
  
				<div class="favorites">
					<div class="angular-ui-tree-handle root-node" ng-class="{'node-selected' : favoriteSelected === null}">
						<a class="tree-label" ng-click="favoritesSelectRoot()">priljubljene</a>
					</div>
					<div id="favorites-structure" class="tree-node tree-node-content" ui-tree="favoritesOptions">
						<ol ui-tree-nodes ng-model="favorites">
							<li ng-repeat="item in favorites" ui-tree-node>
								<div class="tree-node tree-node-content" ng-class="{'node-selected' : favoriteSelected === item}" ui-tree-handle>
									<a class="btn btn-primary btn-xs">
										<span class="glyphicon glyphicon-star"></span>
									</a>
									<a class="pull-right btn btn-danger btn-xs node-control" data-nodrag ng-click="removeFavorite(this)" ng-if="favoriteSelected === item">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
									<a class="tree-label" data-nodrag ng-click="favoritesHandler(item)">{{item.label}}</a>
								</div>
							</li>
						</ol>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group urejevalnik">
					<button type="button" class="btn btn-primary" ng-click="expandAll()">Prikaži vse</button>
					<button type="button" class="btn btn-primary" ng-click="collapseAll()">Samo naslovka</button>
					<button type="button" class="btn" ng-click="save()" ng-class="{'btn-success' : !uploading, 'btn-warning' : uploading}" ng-show="credentials" ng-disabled="uploading || !contentUpdated"><span class="glyphicon" ng-class="{'glyphicon-cloud-upload' : !uploading, 'glyphicon-refresh glyphicon-refresh-animate' : uploading}"></span></button></button>
					<p class="text-danger" ng-show="uploadError">Napaka pri shranjevanju na strežnik, poskusi znova.</p>
				</div>
				<div class="panel panel-primary urejevalnik" ng-show="contentSelected === null">
					<div class="panel-heading">
						<h3 class="panel-title">kako naprej?</h3>
					</div>
					<div class="panel-body">
						<p>klikni ali potegni besedo v levem seznamu na pravo mesto.<br/> lahko pa tudi ..</p>
						<ul>
							<li>dodaš novo besedo s klikom na <button type="button" class="btn btn-info" ng-click="addBranch()"><span class="glyphicon glyphicon-plus-sign"></span></button></li>
							<li>izbrano odstraniš s <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>, sliko / zvok pa s <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></li>
							<li><button type="button" class="btn btn-primary" ng-click="expandAll()">Prikaži vse</button> besede oz. <button type="button" class="btn btn-primary" ng-click="collapseAll()">Samo naslovko</button></li>
							<li><a ng-href="/login" class="btn btn-default">prijavi se</a> za shranjevanje</li>
							<li>shrani na strežnik s klikom na <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-cloud-upload"></span></button></li>
							<li><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button> se prikaže med prenosom podatkov.</li>
						</ul>
					</div>
				</div>
				<form name="form" class="form-horizontal urejevalnik" ng-show="contentSelected">
					<fieldset>
						<legend>uredi besedo</legend>
						<div class="form-group">
							<label class="col-md-4 control-label" for="label">Beseda</label>
							<div class="col-md-8">
								<input name="label" placeholder="izbrana beseda" class="form-control input-md" type="text" ng-model="contentSelected.label" ng-change="updated()">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="color">Barva</label>
							<div class="col-md-6">
								<select name="color" class="form-control" ng-model="contentSelected.color"  ng-change="updated()">
									<option value="white" class="white">bela</option>
									<option value="red" class="red">rdeča</option>
									<option value="green" class="green">zelena</option>
									<option value="blue" class="blue">modra</option>
									<option value="yellow" class="yellow">rumena</option>
									<option value="magenta" class="magenta">škrlatna</option>
									<option value="cyan" class="cyan">trikizna</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="audio">Zvok</label>
							<div class="col-md-6">
								<input name="audio" class="input-file" type="file" accept="audio/*" onChange="angular.element(this).scope().fileUpload(this)" />
							</div>
						</div>
						<div class="form-group" ng-show="contentSelected.audio">
							<div class="col-md-4 text-right">
								<button type="button" class="btn btn-danger" ng-click="fileRemove('audio')" ><span class="glyphicon glyphicon-trash"></span></button>
							</div>
							<div class="col-md-6">
								<audio controls="controls" preload="none" ng-src="{{contentSelected.audio}}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="image">Slika</label>
							<div class="col-md-6">
								<input name="image" class="input-file" type="file" accept="image/*" onChange="angular.element(this).scope().fileUpload(this)" />
							</div>
						</div>
						<div class="form-group" ng-show="contentSelected.image">
							<div class="col-md-4 text-right">
								<button type="button" class="btn btn-danger" ng-click="fileRemove('image')" ><span class="glyphicon glyphicon-trash"></span></button>
							</div>
							<div class="col-md-6">
								<img class="img-thumbnail uploadedImage" alt="{{contentSelected.label}}" ng-src="{{contentSelected.image}}" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-4">
								<button type="button" class="btn btn-danger" ng-click="remove()" ng-show="contentSelected">Odstrani besedo</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="panel panel-primary urejevalnik" ng-show="favoriteSelected === null">
					<div class="panel-heading">
						<h3 class="panel-title">priljubljene besede</h3>
					</div>
					<div class="panel-body">
					<p>klikni ali potegni priljubljeno na pravo mesto.<br>lahko pa..</p>
						<ul>
							<li>izbrano tudi odstraniš s klikom na <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></li>
							<li>sestaviš novo na <a ng-href="/povej" class="btn btn-primary"><span class="glyphicon glyphicon-comment"></span> besedko</a></li>
						</ul>
					</div>
				</div>
				<form name="form" class="form-horizontal urejevalnik" ng-show="favoriteSelected">
					<fieldset>
						<legend>uredi priljubljeno</legend>
						<div class="form-group">
							<label class="col-md-4 control-label" for="label">Naziv</label>
							<div class="col-md-8">
								<input name="label" placeholder="izbran naziv za priljubljeno" class="form-control input-md" type="text" ng-model="favoriteSelected.label" ng-change="updated()">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label" for="color">Barva</label>
							<div class="col-md-6">
								<select name="color" class="form-control" ng-model="favoriteSelected.color"  ng-change="updated()">
									<option value="white" class="white">bela</option>
									<option value="red" class="red">rdeča</option>
									<option value="green" class="green">zelena</option>
									<option value="blue" class="blue">modra</option>
									<option value="yellow" class="yellow">rumena</option>
									<option value="magenta" class="magenta">škrlatna</option>
									<option value="cyan" class="cyan">trikizna</option>
								</select>
							</div>
						</div>
					</fieldset>
				</form>
			</td>
		</tr>
	</tbody>
</table>
<br>
